*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 375px;
  font-size: 12px;
  padding: 0 0 1% 0;
  background-color: #f5f5f5;
}

body {
  font-family: -apple-system, Helvetica, sans-serif;
}

.status-bar {
  background-color: #007aff;
  color: #fff;
  font-size: 90%;
}

.status-bar div {
  display: inline-block;
  padding-top: 1%;
}

.signal {
  padding-left: 1%;
}

.time {
  padding-left: 30%;
}

.battery-percentage {
  padding-left: 31%;
}

.battery-icon {
  float: right;
  padding-right: 1%;
}

.main-header {
  background-color: #007aff;
  color: #fff;
  padding: 7% 0 7% 0;
  font-size: 180%;
}

.main-header i, h1 {
  display: inline-block;
}

.main-header i {
  padding: 0 0 0 5%;
}

.main-header h1 {
  font-weight: bolder;
  padding: 0 0 0 5%;
}

.directions li {
  background-color: #f5f5f5;
  font-size: 150%;
  color: #aeaeae;
  font-weight: bolder;
  padding: 10% 0 4% 5%;
}

.subheadings li {
  font-size: 100%;
  display: inline;
  color: #aeaeae;
  padding: 0 3% 0 5%;
  font-weight: normal;
}

.subheadings {
  background-color: #f5f5f5;
  padding: 0 0 3% 0;
}

.data {
  font-size: 100%;
  background-color: #fff;
  padding: 7% 0% 7% 3%;
  margin: 0 2% 2% 2%;
  box-shadow: 0 2px 5px .5px grey;
}

.data1 {
  font-size: 100%;
  background-color: #fff;
  padding: 5.25% 0% 5.25% 3%;
  margin: 0 2% 2% 2%;
  box-shadow: 0 2px 5px .5px grey;
}

.data2 {
  font-size: 120%;
  background-color: #fff;
  padding: 7% 0% 7% 3%;
  margin: 0 2% 2% 2%;
  box-shadow: 0 2px 5px .5px grey;
  color: #aeaeae;
}

.data3 {
  font-size: 120%;
  background-color: #fff;
  padding: 8.5% 0% 8.5% 3%;
  margin: 0 2% 2% 2%;
  box-shadow: 0 2px 5px .5px grey;
  color: #aeaeae;
}

.data li {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  color: #000;
  font-weight: normal;
  font-size: 120%;
}

.data1 li {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  color: #000;
  font-weight: normal;
  font-size: 120%;
}

.data2 li {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  color: #aeaeae;
  font-weight: normal;
  font-size: 100%;
}

.data3 li {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  color: #aeaeae;
  font-weight: normal;
  font-size: 100%;
}

li.route1 {
  color: #007aff;
  font-weight: bolder;
  padding: 0 12.4% 0 0;
  vertical-align: middle;
}

li.destination1 {
  padding: 0 7.8% 0 0;
}

li.next-bus1 {
  padding: 0 12.5% 0 0;
}

li.frequency1 {
  padding: 0 5% 0 0;
}

li.chevron1 {
  padding: 0;
}

li.route2 {
  color: #007aff;
  font-weight: bolder;
  padding: 0 10.4% 0 0.1%;
}

li.destination2 {
  padding: 0 9.07% 0 0;
}

li.next-bus2 {
  padding: 0 12.6% 0 0;
}

li.frequency2 {
  padding: 0 5.5% 0 0;
}

li.route3 {
  color: #007aff;
  font-weight: bolder;
  padding: 0 10.8% 0 0.1%;
}

li.destination3 {
  padding: 0 3.72% 0 0;
}

li.next-bus3 {
  padding: 0 12.4% 0 0;
}

li.frequency3 {
  padding: 0 5.55% 0 0;
}

li.route4 {
  color: #007aff;
  font-weight: bolder;
  padding: 0 10.4% 0 0.1%;
}

li.destination4 {
  padding: 0 9.25% 0 0;
}

li.next-bus4 {
  padding: 0 12.6% 0 0;
}

li.frequency4 {
  padding: 0 5.55% 0 0;
}

li.route5 {
  color: #007aff;
  font-weight: bolder;
  padding: 0 1% 0 0.1%;
}

li.destination5 {
  padding: 0 4.1% 0 0;
}

li.next-bus5 {
  padding: 0 36.2% 0 0;
}

li.frequency5 {
  padding: 0 5.55% 0 0;
}

li.route6 {
  color: #aeaeae;
  font-weight: bolder;
  padding: 0 10.5% 0 0.1%;
}

li.destination6 {
  padding: 0 3.7% 0 0;
}

li.next-bus6 {
  padding: 0 36% 0 0;
}

li.route7 {
  color: #aeaeae;
  font-weight: bolder;
  padding: 0 10.2% 0 0.1%;
}

li.destination7 {
  padding: 0 9.1% 0 0;
}

li.next-bus7 {
  padding: 0 36.2% 0 0;
}
